<template>
  <v-form>
    <v-container>
      <v-row>
        <v-col>
          <v-text-field v-model="searchText" label="Search"></v-text-field>
        </v-col>
        <v-col>
          <v-select v-model="typeModel" :items="PokeTypes" label="Type" @change="TypeChanged"></v-select>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
export default {
  props: {
    PokeTypes: {
      type: Array,
      required: true
    }
  },
  data: () => ({
    searchText: "",
    typeModel: "All",
  }),  
  methods: {
      TypeChanged(){
          this.$emit('TypeChanged', this.typeModel);
      }
  },
  watch:{
      searchText(){
          this.$emit('SearchChanged', this.searchText);
      }
  }
};
</script>

<style>
</style>