<template>
  <v-lazy
    v-model="isActive"
    :options="{
          threshold: .5
        }"
    min-height="200"
    transition="fade-transition"
  >
    <v-row>
      <v-col class="offset-md-3 col-md-6">
        <v-card class="mx-auto">
          <v-row>
            <v-col class="col-md-3">
              <v-img class="white--text align-end" height="200px" :src="Pokemon.image"></v-img>
            </v-col>
            <v-col class="col-md-9">
              <v-card-title>{{Pokemon.name}}</v-card-title>
              <v-card-subtitle class="pb-0">Info</v-card-subtitle>
              <v-card-text class="text--primary">
                <div>Id:{{Pokemon.id}}</div>
                <div>Height:{{Pokemon.height}}</div>
                <div>Weight:{{Pokemon.weight}}</div>
              </v-card-text>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-lazy>
</template>

<script>
export default {
  props: {
    Pokemon: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    isActive: false
  }),
  watch: {
    isActive() {
      this.$emit("GetPokemonDetails");
    }
  }
};
</script>

<style>
</style>