<template>
  <v-app>
    <v-app-bar app color="primary">
      <div class="d-flex align-center">
        <v-img alt="Vuetify Name" contain min-width="100" src="./assets/logo.png" width="100" />
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-content>
      <PokeSearch :PokeTypes="pokeTypes" @SearchChanged="SearchChanged" @TypeChanged="TypeChanged" />
      <PokeCard
        v-for="(p, index) in displayPokemon"
        :key="index"
        :Pokemon="p"
        @GetPokemonDetails="GetPokemonDetails(p.name, index)"
      />
    </v-content>
  </v-app>
</template>

<script>
import PokeSearch from "./components/PokeSearch";
import PokeCard from "./components/PokeCard";
const Pokedex = require("pokeapi-js-wrapper");

export default {
  name: "App",

  components: {
    PokeSearch,
    PokeCard
  },

  data: () => ({
    pokedex: {},
    pokeTypes: [],
    pokemon: [],
    displayPokemon: []
  }),

  created() {
    this.pokedex = new Pokedex.Pokedex();
    this.pokeTypes.push("All");
    this.pokedex.getPokemonsList().then(response => {
      response.results.forEach(element => {
        this.pokemon.push({
          name: element.name,
          id: 0,
          image: "",
          height: 0,
          weight: 0
        });
      });
      this.displayPokemon = this.pokemon;
    });
    this.pokedex.getTypesList().then(response => {
      response.results.forEach(element => {
        this.pokeTypes.push(element.name);
      });
    });
  },

  methods: {
    SearchChanged(searchText) {
      this.displayPokemon = this.pokemon.filter(p =>
        p.name.includes(searchText)
      );
      this.displayPokemon.forEach((element, index) => {
        if (index < 10) this.GetPokemonDetails(element.name, index);
      });
    },

    TypeChanged(type) {
      this.pokemon = [];
      if (type !== "All") {
        this.pokedex.getTypeByName(type).then(response => {
          response.pokemon.forEach(element => {
            this.pokemon.push({
              name: element.pokemon.name,
              id: 0,
              image: "",
              height: 0,
              weight: 0
            });
          });
          this.displayPokemon = this.pokemon;
          this.displayPokemon.forEach((element, index) => {
            if (index < 10) this.GetPokemonDetails(element.name, index);
          });
        });
      } else {
        this.pokedex.getPokemonsList().then(response => {
          response.results.forEach(element => {
            this.pokemon.push({
              name: element.name,
              id: 0,
              image: "",
              height: 0,
              weight: 0
            });
          });
          this.displayPokemon = this.pokemon;
          this.displayPokemon.forEach((element, index) => {
            if (index < 10) this.GetPokemonDetails(element.name, index);
          });
        });
      }
    },

    GetPokemonDetails(name, index) {
      this.pokedex.getPokemonByName(name).then(response => {
        this.displayPokemon[index].id = response.id;
        this.displayPokemon[index].image = response.sprites.front_default;
        this.displayPokemon[index].height = response.height;
        this.displayPokemon[index].weight = response.weight;
      });
    }
  }
};
</script>
